<div id="<%= dom_id confession %>">
  <p>
    <strong>Title:</strong>
    <%= confession.title %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= confession.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= confession.dislikes %>
  </p>

</div>
