<h1>Editing confession</h1>

<%= render "form", confession: @confession %>

<br>

<div>
  <%= link_to "Show this confession", @confession %> |
  <%= link_to "Back to confessions", confessions_path %>
</div>
