<%= stylesheet_link_tag 'index'%>
<div class="card" id="new-blog">
  <h5 class="card-header" style="text-align:center">Edit Blog</h5>
  <div class="card-body">

<p class="card-text"><%= render "form", blog: @blog %></p>




  <%= link_to "Show this blog", @blog,class:"btn btn-warning",style:"font-size:large" %> 
   <b>or<b>
   <%= link_to "Back to blogs", blogs_path,class:"btn btn-warning",style:"font-size:large" %>
   </div>
</div>
