<%= stylesheet_link_tag 'footer1'%>
<div class="footers"sryle="  background-color: #f7f7b7;" >
<br>
  <div class="first" >
  <%= image_tag 'logo.png' ,style:"height:50px;width:50px;margin-top:4px;border-radius:24px"%><h1 class="footer-heading">MAITRI</h1>
  </div>
  <div class="second" >
    <p>Come and get placed with one of the best placement co-ordinators!</p>
  </div>

  <div class="third" >

        <%= button_to 'Get Notified',home_index_path,class:"btn btn-outline-dark padd"%>
    <button class="btn btn-primary padd" >Contact Us</button>

  </div><center>
 
  <div class="fourth">
 <div class="fourth-left">
<span class="sidebar-footer-text">Made with <span ><i aria-hidden="true" class="bi bi-heart-fill" ></i></span> by <a href="https://www.github.com/shivyoddha" class="links"  target="_blank">Team MAITRI</a></span>
 </div>
 <div class="fourth-right">
<a href="#" class="links">Teams</a>
<a href="#" class="links">Privacy</a>
<a href="#" class="links">Cookies</a>
 </div>
  </div>
</div>
