
<%= stylesheet_link_tag 'index'%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<footer>
<div class="footer-content">
  <div class="column1">
       <div class="row1">
         <div class="column4" style="padding:5px;">
         <%= image_tag 'logo.png',style:"width: 100px; height: 100px;" ,class:"rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"%>
         </div>
         <div class="column5">
         <h1 style='padding: 20px;'>MAITRI</h1>
         </div>
       </div>
     <div class="row2">
     <div class="column6">
     <a href="#">Home</a>
     </div>
     <div class="column7">
     <a href="url">Login</a>
     </div>
     <div class="column8">
     <a href="url">Blogs</a>
     </div>
     <div class="column9">
     <a href="url">Developers</a>
     </div>
     </div>
  </div>
  <div class="column2">
  <h4><b>Contact us</b></h4>
  <hr>
  <h5><i class="bi bi-telephone-fill"></i>&nbsp +91 8861511817</h5>
  <h5><i class="bi bi-envelope-fill"></i> &nbsp maitrinitk@gmail.com</h5>
  <h5><i class="bi bi-briefcase-fill"></i>&nbsp NITK CSE 2025</h5>
  </div>
   <div class="column3">
     <div class="row3">
     <h4><b>About</b></h4>
     <hr>
     <p style="font-size:15px;"> Welcome to Maitri website ,where you can connect with random people and forge bonds. Write blogs,confessions,and many more.</p>
     </div>
     <div class="row4">
     <h4><b>Links</b></h4>
     <hr>
     <a href="#"><i class="bi bi-facebook" style="font-size:300%">&nbsp &nbsp</i></a>
     <a href="#"><i class="bi bi-instagram" style="color:pink;font-size:300%">&nbsp &nbsp</i></a>
     <a href="#"><i class="bi bi-twitter" style="color:lightblue;font-size:300%">&nbsp &nbsp</i></a>
     <a href="#"><i class="bi bi-youtube" style="color:red;font-size:300%">&nbsp &nbsp</i></a>
     <br><br><br>
     </div>
  </div>
</div>
</footer>
