<%= stylesheet_link_tag 'chat'%>
<div class="container11">
		<header>
			<h1>Chat</h1>
		</header>
		<div class="chat-box">
			<div class="message received">
				<p>Hello! How are you?</p>
			</div>
			<div class="message sent">
				<p>Hi! I'm doing well. How about you?</p>
			</div>
			<div class="message received">
				<p>Good to hear! I'm doing pretty good too.</p>
			</div>
			<div class="message sent">
				<p>Great! So what brings you here today?</p>
			</div>
			
		</div>
		<form class="message-form">
			<input type="text" placeholder="Type your message...">
			<button style="background-color:blue">
			<i class="bi bi-images" > </i>
			</button>
			<button>Send</button>
		</form>
	</div>
