<%= stylesheet_link_tag 'anonymous'%>
<%= stylesheet_link_tag 'index'%>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<%= render 'partials/navbar' %>
<div class="container1">
  <div class="Anonymous-header">
    <h2 style="text-align:center">ANONYMOUS CHAT</h2>
  </div>
  <div class="message-box">
    <div class="message sent">
      <p>Hello! How are you?</p>
    </div>
    <div class="message received">
      <p>Hello! I am fine</p>
    </div>
  </div>
  <div class="message-send">
    <div class="emoji">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-icon name="attach-outline"></ion-icon>
    </div>
    <div class="reply-main">
      <textarea class="form-control"  rows="1"></textarea>
    </div>
    <div class="reply-send">
      <ion-icon name="send-outline"></ion-icon>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
