<%= stylesheet_link_tag 'anonymous'%>

<div class="container1">
  <header>
    <h1>Anonymous Chat</h1>
  </header>
  <div class="message-box">
    <div class="message-sent">
      <p>Hello! How are you?</p>
    </div>
    <div class="message-received">
      <p>Hello! How are you?</p>

    </div>
  </div>
</div>
