<%= stylesheet_link_tag 'anonymous'%>
<%= stylesheet_link_tag 'index'%>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<%= render 'partials/navbar' %>
<div class="container1">
<div class="col1">

<button type="button" class="btn btn-primary" id="searchbutton" >
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
</svg>
Search 
</button>
</div>

<div class="col2">
  <div class="Anonymous-header">
    <h2 style="text-align:center; font-family:fantasy">MAITRI ANONYMOUS CHAT</h2>
  </div>
  <div class="message-box">
    <div class="message sent">
      <p style="padding-top:10px">Hello! How are you?</p>
    </div>
    <div class="message received">
      <p style="padding-top:10px">Hello! I am fine</p>
    </div>
  </div>
  <div class="message-send">
    <div class="emoji">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-icon name="attach-outline"></ion-icon>
    </div>
    <div class="reply-main">
      <textarea class="form-control"  rows="1"></textarea>
    </div>
    <div class="reply-send">
      <ion-icon name="send-outline"></ion-icon>
    </div>
  </div>
</div>

</div>
<%= render 'partials/footer' %>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
