<%= stylesheet_link_tag 'index'%>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<%= render 'partials/navbar' %>
<br><br>
<p>This is the forums page to be developed</p>
<%= render 'partials/footer' %>
