
<%= stylesheet_link_tag 'index'%>
<%= render 'partials/navbar' %>
 <div class="vwrapper">
        <div id="row1"> 
        </div>

        <div id="row2">
            
        </div>

        <div id="row3">
            <div id="col1">
            <br>
                    <!--<div class="row_1">
                        <div class="col">
                            <a href="#"><i class="bi bi-person-circle" style="font-size:50px;"></i></a>
                       </div>

                       <div class="col">
                            <p>Anuraag Bandaru venkata</p>
                            <p>This is a recent chat</p>
                       </div>                       
                    </div>-->
                     
                <div class="container" id="chatter-name">
                    <div class="row">
                        <div class="col-2">
                            <a href="#"><i class="bi bi-person-circle" style="font-size:50px;"></i></a>
                        </div>
    <div class="col">
      <p class="name">Anuraag Bandaru venkata</p>
      <p class="recent">This is a recent chat</p>
    </div>
  </div>
</div>
       <hr>             
            </div>
            <div id="col2">
<br>
                    <div class="card" id="blog-card">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col_1">
                                        <a href="#"><i class="bi bi-person-circle" style="font-size:50px;"></i></a>
                                    </div>

                                    <div class="col_2",style="width:10%">
                                        <p>First Name  Last Name</p>
                                        <p class="designation">Designation</p>
                                    </div>

                                    <hr>

                                    <div class="col">
                                    </div>
                                </div>

                                <div class="row">
                                        <p>This just an example for a blog.A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though not required by the orthographic conventions of any language with a writing system, paragraphs are a conventional means of organizing extended segments of prose.  </p>                
                                </div>

                        <br>

                                <div class="sfs">
                                    <!--<img class="card-img-top" id="blog-img" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="Card image cap">-->
                                    
                                </div>

                        <hr>

                                <div class="row">
                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-hand-thumbs-up"></i></a>Like</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="# "><i class="bi bi-hand-thumbs-down" id="thumps-down"></i></a>Dislike</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-chat-right-text"></i></a>Comment</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#" ><i class="bi bi-share" ></i></a>Share</h3>
                                    </div>
                                </div>

                    </div>
                </div>
<br>
                <div class="card" id="blog-card">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col_1">
                                        <a href="#"><i class="bi bi-person-circle" style="font-size:50px;"></i></a>
                                    </div>

                                    <div class="col_2",style="width:10%">
                                        <p>First Name  Last Name</p>
                                        <p class="designation">Designation</p>
                                    </div>

                                    <hr>

                                    <div class="col">
                                    </div>
                                </div>

                                <div class="row">
                                        <p>This just an example for a blog.A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though not required by the orthographic conventions of any language with a writing system, paragraphs are a conventional means of organizing extended segments of prose.  </p>                
                                </div>

                        <br>

                                <div class="sfs">
                                    <img class="card-img-top" id="blog-img" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="Card image cap">
                                    <br>
                                </div>

                        <hr>

                                <div class="row">
                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-hand-thumbs-up"></i></a>Like</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="# "><i class="bi bi-hand-thumbs-down" id="thumps-down"></i></a>Dislike</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-chat-right-text"></i></a>Comment</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#" ><i class="bi bi-share" ></i></a>Share</h3>
                                    </div>
                                </div>

                    </div>
                </div>
<br>
                <div class="card" id="blog-card">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col_1">
                                        <a href="#"><i class="bi bi-person-circle" style="font-size:50px;"></i></a>
                                    </div>

                                    <div class="col_2",style="width:10%">
                                        <p>First Name  Last Name</p>
                                        <p class="designation">Designation</p>
                                    </div>

                                    <hr>

                                    <div class="col">
                                    </div>
                                </div>

                                <div class="row">
                                        <p>This just an example for a blog.A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though not required by the orthographic conventions of any language with a writing system, paragraphs are a conventional means of organizing extended segments of prose.  </p>                
                                </div>

                        <br>

                                <div class="sfs">
                                    <img class="card-img-top" id="blog-img" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="Card image cap">
                                    <br>
                                </div>

                        <hr>

                                <div class="row">
                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-hand-thumbs-up"></i></a>Like</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="# "><i class="bi bi-hand-thumbs-down" id="thumps-down"></i></a>Dislike</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#"><i class="bi bi-chat-right-text"></i></a>Comment</h3>
                                    </div>

                                    <div class="col">
                                        <h3><a href="#" ><i class="bi bi-share" ></i></a>Share</h3>
                                    </div>
                                </div>

                    </div>
                </div>
            </div>
                <div id="col3">
                <div class="box">
                <i class="bi bi-plus-square-fill"style="font-size:50px;"></i>
                <i class="bi bi-plus-square-fill"style="font-size:50px;"></i>
                <i class="bi bi-plus-square-fill"style="font-size:50px;"></i>
                <i class="bi bi-plus-square-fill"style="font-size:50px;"></i>
                </div>
        </div>
            
</div>