<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Senderid:</strong>
    <%= room.senderid %>
  </p>

  <p>
    <strong>Receiverid:</strong>
    <%= room.receiverid %>
  </p>

</div>
