.container1{

    display: flex;
        margin: 0 auto;
        padding: 1%;
        background-color: #f0f391;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
     overflow-y: scroll;

    }
    .col1{
      min-height: 1000px;
      min-width: 25%;
     position: relative;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     margin: 10px;
     overflow-y: scroll;

    }
    .search {
        padding-top: 10px;
        width: 100%;
        position: relative;
        display: flex;
      }

      .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 40px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }

      .searchTerm:focus{
        color: #00B4CC;
      }

      .searchButton {
        width: 40px;
        height: 40px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }

    .rows1{
      padding-left: 5px;
        min-width: 100%;
        min-height: 6%;
        padding-right: 5px;
    }
    .rows2{
        min-width: 100%;
        min-height: 8%;
        display: flex;
        flex-direction: row;
    }
    .col3{
        min-height: 100%;
        min-width: 25%;
        font-size: 5em;
        padding-left: 10px;
    }
    .col4{
        min-height: 100%;
        min-width: 75%;
        display: flex;
        flex-direction: column;
    }
    .rows3{
        min-width: 100%;
        min-height: 8%;
        display: flex;
        flex-direction: row;
    }
    .rows4{
        min-width: 100%;
        min-height: 8%;
        display: flex;
        flex-direction: row;
    }
    .rows5{
        min-width: 100%;
        min-height: 8%;
        display: flex;
        flex-direction: row;
    }

    .rows6{
        min-width: 100%;
        min-height: 50%;
        font-size: larger;
        padding-top: 15px;
    }
    .rows7{
        min-width: 100%;
        min-height: 50%;
        padding-top: 5px;
    }


    .col2{
      min-height: 1000px;
      width: 75%;
    }
    .anonymous-header {
      height: 10%;

    }


    .message-box{
      overflow-y: scroll;
      background-color: #fff;
      padding:3%;
      height: 80vh;
        border-radius: 4px;


    }

    .message{
      clear: both;
      display: flex;
      height: 45px;
    }

    .sent{
      float:left;
      background-color: lightgreen;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      align-content: center;
      font-size: large;


    }

    .received{
      float:right;
      background-color: lightblue;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: large;


    }

    .message-sent{
      height: 10vh;
      background-color: orange;
    }

    .message-form{
      width: 100%;
      display: flex;
    }

    .message-send{
        padding: 5px;
        background-color: #bec2b6;
        display: flex;
        border-radius: 5px;

    }



    .reply-main{
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 5px;

    }

    .reply-main textarea {
      resize: none;
      overflow: hidden;
      padding: 5px !important;
      outline: none;
      border: none;
      text-indent: 5px;
      box-shadow: none;
      height: 100%;
      font-size: 16px;
    }

    .emoji ion-icon{
        padding: 2px;
        font-size: 3em;
    }

    .reply-send ion-icon{
        font-size: 3.2em;
        padding: 2px;
    }

		.if_not_empty_chat{
			display:none;
		}

		.if_empty_chat{
				display: flex;
				flex-direction:row;
				justify-content: center;
				align-items: center;
				min-height:1000px;

		}

		.logoT{
			font-size: 1000px;
		}
