/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Quicksand, sans-serif;
  font-family: 'Quicksand';
  background-color: #f7f7b7;

}



canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
.bg-body-tertiary{
  --bs-bg-opacity:0;
}

.anish{
background-color: #fcacac;
}

.logoT{
  height:50px;
  width:50px;
  border-radius: 50%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 120%;
  top:0%;
  left:0%;
  background-color:lightgoldenrodyellow;
  overflow-x: hidden;
  background-image: url("https://images.pexels.com/photos/842682/pexels-photo-842682.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}
.foot_main_page{
  position:absolute;
  top:107.5%;
  width:100%;
  background-color: palegoldenrod;
}
/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

.logincard{
  display:flex;
  z-index:3;
  width:fit-content;
  left:40%;
  top:30%;
  flex-direction: column;
  position:absolute;
  background-color: white;
  padding:3em;
  border-radius: 10px;


}



 .logincard p{
  text-align: center;
  font-size: 200%;
}

.field{
  font-size:200%;
  background-color: white;
}

.main{

    top: 25rem;
    bottom:75rem;
    background-color: yellow;
}

.blog.head{
    height:12.5%;
    background-color: green;
}

#foots{
  background-color: #e32323;
}

#sticky-navi {

  /*position: fixed;
  top: 0px;
  background-color:black;
  height: 10.5%;
  font-size: medium;
  width: 100%;
  /*z-index:1;*/
}
#temp{
  top:0px;
  /* background-image: linear-gradient(to right, blue , yellow); */
  background-color: #f7f7b7;
  position:fixed;
  z-index:1;
  min-height: 5%;
  font-size: large;
}
.vwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height:1000px;
  background-color: #f0f391;
}
.vwrapper #row1 {
  top:1000px;

}
.vwrapper #row2 {
  background-color: palegoldenrod;
  min-height:4%;
  /*position:fixed;
  width:100%;
  z-index:10;*/
}
.vwrapper #row3 {
  background-color: green;
  flex: 1 1 auto;
  display: flex;


}

#col1{
  background-color:#fbfa7d;
}

.vwrapper #row3 #col1 {
  /*background-color: yellow;*/
  /* background-image: linear-gradient(to right, pink , yellow); */
   background-color:#f0f391;
  /*background-image: linear-gradient(to right, lightgrey,lightgoldenrodyellow);*/

  flex: 0 1 30%;
}
.vwrapper #row3 #col2 {
  background-color:lightgrey;
  /*background-image: linear-gradient(to right,lightblue ,lightgreen);*/
  flex: 0 1 56%;
  max-width: 56%;
  overflow-x: hidden;
  text-align: center;
  overflow-y:inherit;


}



.vwrapper #row3 #col3 {
  background-color:#f0f391;
  /*background-image: linear-gradient(to right, lightgrey,lightgoldenrodyellow);*/
  flex: 0 1 15%;

}
.vwrapper #row4{

  flex: 1 1 auto;
  display: flex;

}

#col2{
  overflow-y: scroll;
  height: 100vh;
}

.card-body{
  margin:2%;
}
.card-body .col{
  width:10%;
  text-align: left;
  font-size: small;
  line-height: 1.1px;
}
.card-body .row p{
  font-size: medium;
}

.logome{
  height:50px;
  width:65px;
  border-radius: 50%;
}

#Your-Account{
  font-size: 100px;
}

.col_1{
  width:70px;
  height: 70px;
  padding-right: 2px;
  align-items: center;
  justify-content: center;
  /*margin-right:-45px;*/
}

.chatting{
  position: fixed;
  display: grid;
  overflow-y: scroll;
  width: 30%;
  /* height: 100%; */
}

.col_2{
  width:300px;
  height: 70px;
  text-align: left;
  font-weight: bold;
  flex-direction: column;
  display: flex;
  align-items:left;
}

.card{
  margin:2%;
  border-radius: 2%;
}

.sfs{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 0px;
}
.sfs img{
  width:100%;
  height:25%;
  text-align: center;
  position:relative;
  gap:20px;
}
.designation{
  font-size: xx-small;
  color: grey;
  opacity: 75%;
}


#blog-last{
  font-size:x-large;
  -ms-flex-item-align: center;
}
#chatter-name{
  padding-left:10px;
  padding-top:10px;
  line-height:15px;
}
.name{
  font-weight: bold;
  font-size: medium;
}

.recent{
  color: grey;
}
.box{
background-color:lightgrey ;
height:50%;
width:75px;

float:left;
top:20.5%;
text-align: center;
display: flex;
flex-direction: column;
-ms-flex-align: center;
justify-content: center;
/*padding-top: 10%;
padding-bottom: 10%;*/
border-top-right-radius: 500%;
border-bottom-right-radius: 500%;
gap:20px;

}
.box .c i{
  color:lightgoldenrodyellow;
}
.c{
  flex-direction: column;
}
#ic-1{
  display: none;
}

#ic-2{
  display: none;
}
#ic-3{
  display: none;
}

#ic-4{
  display: none;
}


.foot{
  min-height: 100vh ;
  display: flex ;
 flex-direction: column;
}

#start{
  width: 20%;
  height: 5%;
}


















#new-blog{
  border-radius: 5%;
  display: flex;

 width:50%;

  /*background-image:linear-gradient(180deg,lightgreen,lightcoral);*/
  height:fit-content;
  flex-direction: column;
  position: absolute;

  left:25%;
  top:10%;
  text-align: center;
  font-size: xx-large;
  line-height: 150%;
}

.my-blogs{
  display:flex;
  flex-direction: column;
  padding-left:2%;
  padding-right: 2%;
  background-color:lightgoldenrodyellow;
  min-height:100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: large;
}

.show-blog{
  display: flex;
  width:50%;
  background-image:linear-gradient(180deg,lightgreen,lightcoral);
  height:80%;
  flex-direction: column;
  position: absolute;
  padding:0.75%;
  left:25%;
  top:10%;
  text-align: center;
  font-size: xx-large;
  line-height: 150%;

}


footer{
  background-color: #010d03;
  height: 150px;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 0px;
  color: #fff;
  bottom: 0%;
}

.footer-content{
  display: flex;
 /* align-items: center;*/
  justify-content: left;
  flex-direction: row;
  text-align: left;
  margin-bottom: 0%;
}

.column1{
  width:45%;
  background-color: palegoldenrod;
  min-height: 100%;
  color: #000022;
}
.column2{
  width:25%;
  background-color: palegoldenrod;
  text-align: center;
  color: #000022;

}
.column3{
  width:30%;
  background-color: palegoldenrod;
  text-align: center;
  padding-bottom: 2px;
  color: #000022;
 }
.column4{
  width:20%;
  padding-top: 10px;;
}
.column5{
  width:80%;
  flex-direction: row;

}
.row1{
height:60%;
display: flex;
}
.row2{
height: 40%;
padding-top: 15px;
flex-direction: row;
display: flex;
text-align: center;
font-size: large;
}
.row3{
height:50%;
}

.row4{
height: 50%;
}
.row5{
  display: flex;
  justify-content: space-around;
}

#cold1{
  display: flex;
  flex-direction: column;
  gap: 200px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, lightgrey,lightgoldenrodyellow);
  text-align: center;
  font-size: large;
  max-width: 20%;

}

.one{
  padding:5px;
  animation:zoomIn 2s infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.02) rotate(2deg);
  }
  100% {
    transform: scale(1) rotate(-2deg);
  }
}


#col3{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cdc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rrr{
  font-size:large;
}
.f{
  font-size: large;
}
.cdc:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.column6{
  width:25%;
}
.column7{
  width:25%;
}
.column8{
  width:25%;
}
.column9{
  width:25%;
}

.comment_blog{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:20px;

}

#main_comment{
  gap:10px;
  justify-content: flex-start;
}
/*#add_comment{
  width:250%;
  align-items: center;
}*/

.rowa{
  display: flex;
  flex-direction: row;
  text-align: left;
}

#comment_icon{
  padding-left:20px;
  padding-bottom:5px;
}

.comment-card{
  min-width:80%;
  padding:5% 2% 5% 2%;
  height: fit-content;
  background-color: white;
  margin:2%;
  border-bottom-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-radius:10px;
}


.button_showing{
  display: flex;
  flex-direction: row;
  gap:20px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow:1;
}


#blogs{
  font-size: xx-large;
  text-align: center;

}

.card_body .row .col{
display: flex;
flex-direction: row;
}

#comments{
  font-size: medium;
}

#comments-1{
  font-size: large;

}

.coll{
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  justify-content: center;
  align-items: center;
}

#blog-last{
  font-size: 30px;
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 85%;
	height: fit-content;
	background-color: lightyellow;

}
.bordert{
  border: 8px solid #666;
}
.roundt{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}


.tri-right.bordert.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}


.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.showing_blog_now{
  display: flex;
  flex-direction: column;
  margin:2%;
  padding-right:2%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.show_con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:100%;
  column-gap:20px;
}
.button_show{
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;

}

.like_dislike_show{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  font-size: 30px;
}

.head{
  font-size: medium;
}

.full_my_blog{
  display: flex;
  flex-direction: row;



}
.main_blog_show{
  display: flex;
  width:85%;
  flex-direction: column;
  column-gap: 20px;
}

.my_blog_buttons{
  height: fit-content;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  position: fixed;
  top:50%;
  left:80%;
  width:15%;
  gap:80%;
  height:100px;
}
#navbarSupportedContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
}

.my_profile {
  margin: 100px 20px 20px 20px;
  min-height: 50%;
  border-radius: 25px;
  padding: -200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 0.9;
  align-items: center;
  position: relative; /* Add position property */
}

.back_profile {
  background-color: lightgrey;
  position: absolute;
  min-height: 50%;
  min-width: 25%;
  left:20px;
  top:210px;
  border-radius: 25px;

  z-index: 0.8;
  margin:20px;
}

.profile_name{
  font-size: x-large;
}

.profile-designation{
  font-size:medium;
  color:white;
}

.profile_logo{
  display: flex;
  flex-direction: column;
  width:100%;
  column-gap:0.2px;
}

#proco{
  padding-right:100px;
  display: flex;
  justify-content: flex-end;
  width:100%;
}

.pro{
  display: flex;
  justify-content: center;
  width:100%;
}

.count_profile{
  display: flex;
  width:100%;
  padding: 0px 30px 0px 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: large;
}

.pro_count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile_bio{
  padding:30px;
  font-size:medium;
  width:450px;

}

.truncate-line-clamp {
 display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 450px;
  overflow: hidden;
}

.show_status{
  display: flex;
  min-height:200px;
  min-width:100px;
  flex-direction: column;

  background-color: lightgrey;
  margin:120px 40px 0px 40px;
  border-radius: 25px;
  padding:20px;
  max-height:250px;
  overflow-y: scroll;
}

.Head_friend_status{
  font-size: x-Large;
  min-width:100%;
  text-align: center;
}

.friend_online{
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width:100%;


}
.name_friend{
  font-size: large;
  padding-top:10px;
  padding-left:20px;
}

.flag{
  position: absolute;
  top:0%;
  left:15%;
  z-index:0.9;
}

#new-blog{
  position: absolute;
  top:0.5%;
  left:20%;
  z-index:1;
}
