/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: #FFC2C2;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
.bg-body-tertiary{
  --bs-bg-opacity:0;
}

.anish{
background-color: #fcacac;
}

.logoT{
  height:50px;
  width:50px;
  border-radius: 50%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFC2C2;
  background-image: url("https://images.pexels.com/photos/842682/pexels-photo-842682.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

.logincard{
  display:flex;
  z-index:2;
  width:fit-content;
  left:35%;
  top:30%;
  flex-direction: column;
  position:absolute;
  background-color: white;
  padding:3em;
  border-radius: 10px;


}

 .logincard p{
  text-align: center;
  font-size: 200%;
}

.field{
  font-size:200%;
}

.main{

    top: 25rem;
    bottom:75rem;
    background-color: yellow;
}

.blog.head{
    height:12.5%;
    background-color: green;
}

#foots{
  background-color: #e32323;
}

#sticky-navi {

  /*position: fixed;
  top: 0px;
  background-color:black;
  height: 10.5%;
  font-size: medium;
  width: 100%;
  /*z-index:1;*/
}
#temp{
  top:0px;
  background-image: linear-gradient(to right, blue , yellow);
  position:fixed;
  z-index:1;
  min-height: 5%;
  font-size: large;
}
.vwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height:1000px;
}
.vwrapper #row1 {
  top:1000px;

}
.vwrapper #row2 {
  background-color: palegoldenrod;
  min-height:4%;
  /*position:fixed;
  width:100%;
  z-index:10;*/
}
.vwrapper #row3 {
  background-color: green;
  flex: 1 1 auto;
  display: flex;


}

.vwrapper #row3 #col1 {
  /*background-color: yellow;*/
  background-image: linear-gradient(to right, pink , yellow);

  flex: 0 1 30%;
}
.vwrapper #row3 #col2 {
  background-image: linear-gradient(to right,lightblue ,lightgreen);
  flex: 0 1 60%;
  text-align: center;
  overflow-y:scroll;

}
.vwrapper #row3 #col3 {
  background-image: linear-gradient(to right, lightgrey,lightgoldenrodyellow);
  flex: 0 1 10%;

}
.vwrapper #row4{

  flex: 1 1 auto;
  display: flex;

}

#col2{
  overflow-y: scroll;
  height: 100vh
}

.card-body{
  margin:2%;
}
.card-body .col{
  width:10%;
  text-align: left;
  font-size: small;
  line-height: 1.1px;
}
.card-body .row p{
  font-size: medium;
}

.logome{
  height:50px;
  width:65px;
  border-radius: 50%;
}

#Your-Account{
  font-size: 100px;
}

.col_1{
  width:70px;
  padding-right: 2px;
  /*margin-right:-45px;*/
}

.chatting{
  position: fixed;
  display: grid;
  overflow-y: scroll;
  width: 30%;
  /* height: 100%; */
}

.col_2{
  width:300px;
  text-align: left;
  font-weight: bold;
  height: fit-content;
}

.card{
  margin:2%;
  border-radius: 2%;
}

.sfs img{
  width:80%;
  height:25%;
  text-align: center;
  position:relative;
  margin-left:10%;
  margin-right: 10%;
}
.designation{
  font-size: xx-small;
  color: grey;
  opacity: 75%;
}

#blog-card :hover{
  background-color:lightblue;
}
#blog-last{
  font-size:x-large;
  -ms-flex-item-align: center;
}
#chatter-name{
  padding-left:10px;
  padding-top:10px;
  line-height:15px;
}
.name{
  font-weight: bold;
  font-size: medium;
}

.recent{
  color: grey;
}
.box{
background-color:lightgreen ;
height:60%;
width:75px;
margin-top:123px;
float:left;
top:27.5%;
text-align: center;
display: flex;
flex-direction: column;
-ms-flex-align: center;
justify-content: center;
/*padding-top: 10%;
padding-bottom: 10%;*/
border-top-right-radius: 500%;
border-bottom-right-radius: 500%;

}
.box .c i{
  color:lightgoldenrodyellow;
}
.c{
  flex-direction: column;
}
#ic-1{
  display: none;
}

#ic-2{
  display: none;
}
#ic-3{
  display: none;
}

#ic-4{
  display: none;
}


.foot{
  min-height: 100vh ;
  display: flex ;
 flex-direction: column;
}

#start{
  width: 20%;
  height: 5%;
}


















.new-blog{
  display: flex;
  width:50%;
  background-image:linear-gradient(180deg,lightgreen,lightcoral);
  height:80%;
  flex-direction: column;
  position: absolute;

  left:25%;
  top:10%;
  text-align: center;
  font-size: xx-large;
  line-height: 150%;
}

.my-blogs{
  display:flex;
  flex-direction: column;
  padding-left:2%;
  padding-right: 2%;
  background-color:lightblue;
  height: fit-content;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: large;
}

.show-blog{
  display: flex;
  width:50%;
  background-image:linear-gradient(180deg,lightgreen,lightcoral);
  height:80%;
  flex-direction: column;
  position: absolute;
  padding:0.75%;
  left:25%;
  top:10%;
  text-align: center;
  font-size: xx-large;
  line-height: 150%;

}


footer{
  background-color: #010d03;
  height: 150px;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 0px;
  color: #fff;
}

.footer-content{
  display: flex;
 /* align-items: center;*/
  justify-content: left;
  flex-direction: row;
  text-align: left;

}

.column1{
  width:45%;
  background-color: rgb(27, 29, 4);
  min-height: 100%;
}
.column2{
  width:25%;
  background-color: #e32323;
  text-align: center;
}
.column3{
  width:30%;
  background-color: #0f0ab1;
  text-align: center;
  padding-bottom: 2px;
 }
.column4{
  width:20%;
}
.column5{
  width:80%;
  flex-direction: row;

}
.row1{
height:60%;
display: flex;
}
.row2{
height: 40%;
padding-top: 15px;
flex-direction: row;
display: flex;
text-align: center;
font-size: medium;
}
.row3{
height:50%;
}

.row4{
height: 50%;

}


.column6{
  width:25%;
}
.column7{
  width:25%;
}
.column8{
  width:25%;
}
.column9{
  width:25%;
}
